<h3><%= @input_id.word_input %>: <%= @input_id.definition_input %></h3>


<form action="/definition/<%= @input_id.id %>" method="post">
  <div class="form-group">
    <label for="definitionInput"></label>
    <input name="definitionInput" id="definitionInput"  class="form-control" type="text" placeholder="Give it a definition!" required>
  </div>
  <button type="submit" class="btn btn-warning">Go!</button>
</form>

<br><a href="/">Come up with another word!</a>
