<h2><%= @input_id.word_input %></h2>

<form action="/definition/<%= @input_id.id %>" method="post">
  <div class="form-group">
    <label for="definitionInput">Give it a unique definition: </label>
    <input name="definitionInput" id="definitionInput"  class="form-control" type="text" placeholder="Write your definition here." required>
  </div>
  <button type="submit" class="btn btn-info">Go!</button>
</form>

<p><%= @input_id.definition_input %></p>

<a href="/">Create another word!</a>
