


<h3>Words are a very important tool that we use everyday. See if you can come up with some new words to share with your friends, but don't for get to give them good definitions.</h3>

<form action="/" method="post">
  <div class="form-group">
    <input name="wordInput" id="wordInput"  class="form-control" type="text" placeholder="Enter a word!" required>
  </div>

  <button type="submit" class="btn btn-warning">Go!</button>
</form><br>

<!-- <form action="/" method="delete">
  <div class="form-group">
    <label for="deleteInput">Delete a word and start over: </label>
    <input name="deleteInput" id="deleteInput"  class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Delete</button>
  </form>
</form> -->

<% @class_ins.each do |word| %>
<h1><a href="/definition/<%= word.id %>"><%= word.word_input %></a></h1>
<% end %>
