
<h2>Word Definer</h2>

<h5>Understanding words and their meanings is important. See if you can come up with some new words, but be sure to give them a creative definition, so that everyone knows what they mean.</h5><br>

<form action="/" method="post">
  <div class="form-group">
    <label for="wordInput">Invent your own word: </label>
    <input name="wordInput" id="wordInput"  class="form-control" type="text" placeholder="Enter your word here." required>
  </div>

  <button type="submit" class="btn btn-info">Go!</button>
</form><br>

<!-- <form action="/" method="delete">
  <div class="form-group">
    <label for="deleteInput">Delete a word and start over: </label>
    <input name="deleteInput" id="deleteInput"  class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Delete</button>
  </form>
</form> -->

<% @class_ins.each do |word| %>
<h1><a href="/definition/<%= word.id %>"><%= word.word_input %></a></h1>
<% end %>
