
<h2>Word Definer</h2>

<h4>Add a new word: </h4>

<form action="/" method="post">
  <div class="form-group">
    <label for="wordInput">Word: </label>
    <input name="wordInput" id="wordInput"  class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="definitonInput">Definition: </label>
    <input name="definitonInput" id="definitonInput"  class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Go!</button>
</form>


<h1><%= @word %></h1>
