<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
    <title>Word Definer</title>
  </head>
  <body>
    <div class="header"></div>
    <div class="jumbotron jumbotron-fluid">
      <h2>Word Definer</h2>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
